{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Webpage</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-link">
            <div class="header-left">
                <img class="logo-image" src="{% static 'logo.png' %}" alt="Logo">
                <h1 class="logo-text">PassItOn</h1>
            </div>
        </a>
        <div class="header-right">
            <button>Login</button>
            <a href="{% url 'register_page' %}"><button>Register</button></a>
        </div>
    </header>
    <footer>
        <div class="footer-content">
            <div class="footer-text">
                <p>Contact us: info@example.com | +123 456 7890</p>
            </div>
            <div class="footer-contact">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td>info@example.com</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>+123 456 7890</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
</body>
</html>
