/* Reset default */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background: #edf7fa; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #5f6caf;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 3px;
}

.header-left {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ff8364;
    border-radius: 4px;
    cursor: pointer;
}

.header-left h1 {
    font-size: 20px;
    margin: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-text {
    color: black;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 15px;
}

.header-right button {
    margin-left: 16px;
    background-color: #ff8364;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* Add offer button */
.add-offer-button {
    margin-top: 10px;
    margin-left: 20px;
}

.add-offer-button button {
    margin-top: 20px;
    margin-left: 30px;
    background-color: #ff8364;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* Go back button */
.go-back-button {
    margin-top: 10px;
    margin-left: 20px;
}

.go-back-button button {
    margin-top: 20px;
    margin-left: 30px;
    background-color: #ff8364;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* Register form */
.user-registration-form {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 3px solid #ff8364;
    border-radius: 10px;
    background-color: #5f6caf;
    align-self: center;
}

.user-registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.user-registration-form label {
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.user-registration-form input[type="text"],
.user-registration-form input[type="email"],
.user-registration-form input[type="password"],
.user-registration-form input[type="date"],
.user-registration-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ff8364;
    border-radius: 5px;
    background-color: #ffb677;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.user-registration-form input[type="submit"] {
    width: 100%;
    background-color: #ffb677;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/* Add offer form */
.add-offer-form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: 3px solid #ff8364;
    border-radius: 10px;
    background-color: #5f6caf;
}

.add-offer-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.add-offer-form label {
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.add-offer-form input[type="text"],
.add-offer-form input[type="number"],
.add-offer-form input[type="file"],
.add-offer-form textarea,
.add-offer-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ff8364;
    border-radius: 5px;
    background-color: #ffb677;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.add-offer-form input[type="submit"] {
    width: 100%;
    background-color: #ffb677;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
}


/* Footer */
footer {
    background-color: #5f6caf;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

footer table {
    margin-left: 10px;
}

footer table td {
    padding: 5px;
    text-align: left;
}

main {
    flex: 1;
    margin-bottom: 60px;
    overflow: auto;
}
