{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Webpage</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-link">
            <div class="header-left">
                <img class="logo-image" src="{% static 'logo.png' %}" alt="Logo">
                <h1 class="logo-text">PassItOn</h1>
            </div>
        </a>
        <div class="header-right">
            {% if user.is_authenticated %}
                <div class="user-info">
                    <p class="hello-text">Hello {{ user.username }}</p>
                    <a href="{% url 'profile_page' %}" class="profile-btn">Your profile</a>
                    <a href="{% url 'logout_action' %}" class="logout-btn">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login_page' %}" class="login-btn">Login</a>
                <a href="{% url 'register_page' %}" class="register-btn">Register</a>
            {% endif %}
        </div>
    </header>
    <div class="go-back-button">
        <a href="{% url 'index' %}" class="go-back-button">
            <button class="go-back-link">Go back</button>
        </a>
    </div>
    <div class="profile-text">
        <h1>Your profile</h1>
    </div>
    <div class="edit-info-button">
        <a href="{% url 'edit_info_page' %}" class="edit-info-link">
            <button>Edit profile info</button>
        </a>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-text">
                <p>Contact us: info@example.com | +123 456 7890</p>
            </div>
            <div class="footer-contact">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td>info@example.com</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>+123 456 7890</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
</body>
</html>
