{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Webpage</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-link">
            <div class="header-left">
                <img class="logo-image" src="{% static 'logo.png' %}" alt="Logo">
                <h1 class="logo-text">PassItOn</h1>
            </div>
        </a>
        <div class="header-right">
            <button>Login</button>
            <a href="{% url 'register_page' %}"><button>Register</button></a>
        </div>
    </header>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <h2>User Registration</h2>
        
        <label for="user_nickname">Nickname:</label>
        <input type="text" id="user_nickname" name="user_nickname" required><br><br>
    
        <label for="user_name">Name:</label>
        <input type="text" id="user_name" name="user_name" required><br><br>
    
        <label for="user_surname">Surname:</label>
        <input type="text" id="user_surname" name="user_surname" required><br><br>
    
        <label for="user_email">Email:</label>
        <input type="email" id="user_email" name="user_email" required><br><br>
    
        <label for="user_password">Password:</label>
        <input type="password" id="user_password" name="user_password" required><br><br>
    
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>
    
        <input type="submit" value="Register">
    </form>
</body>
</html>
